/* css styles */

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

/*mjx-container[display] {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}*/
